extends ../shared/template/layout/_default

block vars
  -
    var title = '上書き'

block main
  .top-section-all
    .top-section-all-inner
      section.js-section.top-section
        .js-contents.top-contents.one
      section.js-section.top-section
        .js-contents.top-contents.two
